.box {
    width: 100%;
    height: 100vh;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/A_street_dog._%2832256697573%29.jpg/800px-A_street_dog._%2832256697573%29.jpg) no-repeat center / contain ;
}



